<!DOCTYPE html>
<html>
    <head>
        <meta name ="viewport" content="with=device-with, initial-scale=1.0">
        
        {% block stylesheets %}
            <link rel="stylesheet" href="{{asset('css/loginmada.css')}}" type="text/css">
            <link rel="stylesheet" href="{{asset('css/all.css')}}" type="text/css">
            <link rel="stylesheet" href="{{asset('css/alert.css')}}" type="text/css">
        {% endblock %}
    </head>
<body class="login">
    <div class="contlogin">
        <form class="formulogin" method="post">
            {% if error %}
                <div class="alert alert-danger">vérifier votre mot de passe ou email</div>
            {% endif %}
        <div class="seconnecter">
            <h1 class="textseconn">se connecter</h1>
        </div>
            <div class="flexlogin">
                <div class="emailogin">
                    <div class="textlogin">
                        <label class="soratra">Votre nom d'utilisateur</label>
                    </div> 
                    <div><input class="champlogin" type="email" value="{{ last_username }}" name="email">
                    </div>
                </div>
            
                <div class="emailogin">
                    <div class="textlogin">
                        <label class="soratra" >Votre mot de passe</label>
                    </div> 
                    <div class="champlogin"><input  type="password" name="password" id="inputPassword">
                        <i id="eye" class="fa fa-eye"></i>
                    </div>
                </div> 

                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" name="_remember_me"> Se souvenir de moi
                    </label>
                </div>
                
                <div class="champlien">
                    <a href="/register">ou inscrivez-vous</a>
                </div>
            
                <div class="boutin">
                    <button class="bouton" type="submit">Valider</button>
                </div>

                <div class="boutin">
                    <a class="lien" href="https://www.facebook.com">
                        <img class="sprite" src="img/fb.png">
                    </a>
                    <a class="lien"href="https://www.google.com">
                        <img class="sprite"src="img/google.png">
                    </a>
                    <a class="lien"href="https://www.twitter.com">
                        <img class="sprite"src="img/twitter.png">
                    </a>
                </div>

            </div>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        </form>
    </div>

        {% block javascripts %}
            <script src="{{asset('js/jquery-3.5.1.js')}}" type="text/javascript"></script>

            <script type="text/javascript">
$(document).ready(function(){
    const password = $('#inputPassword');
    $('#eye').click(function(){
        if(password.prop('type')=='password'){
            $(this).addClass('fa-eye-slash');
            password.attr('type', 'text')
        }
        else{
            $(this).removeClass('fa-eye-slash');
            password.attr('type','password')
        }
    })
})
            </script>
        {% endblock %}

</body>

</html>